* {
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #444;
}

body {
    background-color: aliceblue;
}

.bg-wave {
    position: absolute;
    top: 0;
    z-index: -10;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f8ff;
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.25s;
}
@media screen and (min-width: 1408px) /* Wide */ {
    .title-container {
        flex-direction: row;
        width:45%;
        margin: auto;
        margin-top:10%;
    }
}
@media screen and (max-width: 1256px) /* Desktop */ {
    .title-container {
        flex-direction: row;
        width:60%;
        margin: auto;
        margin-top:10%;
    }
}
@media screen  and (max-width: 1023px) /* Tablet */ {
    .title-container {
        flex-direction: column;
        width:75%;
        margin: auto;
        margin-top:15%;
    }
}
@media screen and (max-width: 768px) /* Mobile */ {
    .title-container {
        flex-direction: column;
        width:90%;
        margin: auto;
        margin-top:20%;
    }
}

.profile-image {
    margin:20px;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

.title-text {
    position: relative;
    font-family: Rubik;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 10px;
    color: #222;
}
@media screen and (min-width: 1024px) /* Desktop or wide */ {
    .title-text {
        text-align:left;
    }
}
@media screen  and (max-width: 1023px) /* Tablet or mobile */ {
    .title-text {
        text-align:center;
    }
}

.subtitle-text {
    position: relative;
    font-size: 24px;
    color: #444;
}
@media screen and (min-width: 1024px) /* Desktop or wide */ {
    .subtitle-text {
        text-align:left;
    }
}
@media screen  and (max-width: 1023px) /* Tablet or mobile */ {
    .subtitle-text {
        text-align:center;
    }
}

.text{
    margin:5px;
}

a:link, a:visited {
    transition: 0.25s;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    color: #0099ff;
    text-decoration-style: solid;
}